<h2>Add Products</h2>

<div id="productTableDiv" ></div>

<table id="productTable">
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Add to cart</th>
            <th>Delete</th>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

{{!-- <script src="/socket.io/socket.io.js"></script> --}}
<script src="/js/products.js"></script>