<h2>Add Products</h2>

<form id="formulario">
    Producto: <input type="text" name="product" id="product">
    Precio: <input type="number" name="price" id="price">
    Cantidad: <input type="number" name="quantity" id="quantity">
    <input id="agregar" type="submit" value="Agregar Producto">
</form>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>